<div class="therapist-commission-container">
  <div class="card">
    <p-toast></p-toast>
    <h3>Therapist Commission PDF Report</h3>

    <!-- Filter Section -->
    <div class="filter-section">
      <form [formGroup]="commissionForm" class="p-fluid">
        <div class="form-row">
          <div class="field">
            <label for="staff">Staff *</label>
            <p-dropdown id="staff" formControlName="staff" [options]="staffOptions" optionLabel="nickName"
              optionValue="id" placeholder="Select Staff">
            </p-dropdown>
            <small
              *ngIf="commissionForm.get('staff')?.touched &&commissionForm.get('staff')?.invalid && commissionForm.get('staff')?.errors?.['required']"
              class="p-error">Staff is required.</small>
          </div>
          <div class="field">
            <label for="year">Year</label>
            <p-dropdown id="year" formControlName="year" [options]="[2024, 2025, 2026, 2027, 2028, 2029, 2030]"
              placeholder="Select Year">
            </p-dropdown>
            <small *ngIf="commissionForm.get('year')?.invalid && commissionForm.get('year')?.errors?.['required']"
              class="p-error">Year is required.</small>
          </div>
          <div class="field">
            <label for="month">Month</label>
            <p-dropdown id="month" formControlName="month"
              [options]="[{label: 'January', value: 1}, {label: 'February', value: 2}, {label: 'March', value: 3},
                         {label: 'April', value: 4}, {label: 'May', value: 5}, {label: 'June', value: 6},
                         {label: 'July', value: 7}, {label: 'August', value: 8}, {label: 'September', value: 9},
                         {label: 'October', value: 10}, {label: 'November', value: 11}, {label: 'December', value: 12}]" optionLabel="label" optionValue="value"
              placeholder="Select Month">
            </p-dropdown>
            <small *ngIf="commissionForm.get('month')?.invalid && commissionForm.get('month')?.errors?.['required']"
              class="p-error">Month is required.</small>
          </div>
          <div class="field">
            <label for="period">Period *</label>
            <p-dropdown id="period" formControlName="period" [options]="periodOptions" optionLabel="label"
              optionValue="value" placeholder="Select Period">
            </p-dropdown>
            <small
              *ngIf="commissionForm.get('period')?.touched && commissionForm.get('period')?.invalid && commissionForm.get('period')?.errors?.['required']"
              class="p-error">Period is required.</small>
          </div>
          <div class="field-checkbox">
            <p-checkbox id="incentive" formControlName="incentive" [binary]="true">
            </p-checkbox>
            <label for="incentive">Incentive</label>
          </div>
          <div class="field-buttons">
            <button type="button" pButton pRipple label="Search" icon="pi pi-file-pdf" class="p-button-primary"
              (click)="generatePdf()" [disabled]="commissionForm.invalid || loading">
              <i *ngIf="loading" class="pi pi-spin pi-spinner" style="margin-left: 0.5rem;"></i>
            </button>

            <button type="button" pButton pRipple label="PDF" icon="pi pi-download" class="p-button-success"
              (click)="downloadPdfFromBackend()">
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Data Table Section -->
    <div class="table-section" *ngIf="displayTable">
      <h4>Commission Data</h4>
      <p-table [value]="commissionData" [showCurrentPageReport]="true" [scrollable]="true">
        <ng-template pTemplate="header">
          <tr style="line-height: 0.1 !important;">
            <th style="width: 10%;">Sales Date</th>
            <th style="width: 10%;">Menu Code</th>
            <th style="width: 10%;text-align: right;">Foot Mins</th>
            <th style="width: 10%;text-align: right;">Body Mins</th>
            <th style="width: 10%;text-align: right;">Staff Commission</th>
            <th style="width: 10%;text-align: right;">Extra Commission</th>
            <th *ngIf="therapistCommissionReport?.isCommissionPercentage" style="width: 10%;text-align: right;">Price
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
          <tr *ngIf="rowIndex > 0 && commissionData[rowIndex - 1].salesDate   !== item.salesDate "
            style="line-height: 0.1 !important;">
            <td [colSpan]="therapistCommissionReport?.isCommissionPercentage ? 7 : 6"></td>
          </tr>

          <tr style="line-height: 0.1 !important;">
            <td>{{ item.salesDate | date:'shortDate' }}</td>
            <td>{{ item.menuCode }}</td>
            <td style="width: 10%;text-align: right;">{{ item.footMins == 0 ? '': item.footMins }}</td>
            <td style="width: 10%;text-align: right;">{{ item.bodyMins == 0 ? '': item.bodyMins }}</td>
            <td class="currency-cell">{{ item.staffCommission == 0 ? '': item.staffCommission | localCurrency }}</td>
            <td class="currency-cell">{{ item.extraCommission == 0 ? '': item.extraCommission | localCurrency }}</td>
            <td class="currency-cell" *ngIf="therapistCommissionReport?.isCommissionPercentage">{{ item.price == 0 ? '':
              item.price | localCurrency }}</td>

          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr style="line-height: 0.1 !important;">
            <td><strong>TOTALS</strong></td>
            <td *ngIf="therapistCommissionReport?.isRate">
              <strong>{{therapistCommissionReport?.rateBase?.selectedPeriodHrs}}Hrs</strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isRate" class="currency-cell">
              <strong>{{therapistCommissionReport?.rateBase?.totalFootCommission | localCurrency}} </strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isRate" class="currency-cell">
              <strong>{{therapistCommissionReport?.rateBase?.totalBodyCommission | localCurrency}} </strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isRate" class="currency-cell">
              <strong>{{therapistCommissionReport?.rateBase?.totalStaffCommission | localCurrency}} </strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isRate" class="currency-cell">
              <strong>{{therapistCommissionReport?.rateBase?.totalExtraCommission | localCurrency}} </strong>
            </td>


            <td *ngIf="therapistCommissionReport?.isCommissionPercentage">
              <strong>{{therapistCommissionReport?.commissionPercentage?.selectedPeriodHrs}}Hrs</strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isCommissionPercentage" class="currency-cell">
            </td>
            <td *ngIf="therapistCommissionReport?.isCommissionPercentage" class="currency-cell">
            </td>
            <td *ngIf="therapistCommissionReport?.isCommissionPercentage" class="currency-cell">
              <strong>{{therapistCommissionReport?.commissionPercentage?.totalStaffCommission | localCurrency}}
              </strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isCommissionPercentage" class="currency-cell">
              <strong>{{therapistCommissionReport?.commissionPercentage?.totalExtraCommission | localCurrency}}
              </strong>
            </td>
            <td *ngIf="therapistCommissionReport?.isCommissionPercentage" class="currency-cell">
              <strong>{{therapistCommissionReport?.commissionPercentage?.totalPrice | localCurrency}} </strong>
            </td>
          </tr>

          <tr style="line-height: 0.1 !important;" *ngIf="therapistCommissionReport?.isRate">
            <td style="width: 10%;"> </td>
            <td style="width: 10%;">
              <strong>{{therapistCommissionReport?.rateBase?.allPeriodHrs == 0
                ? therapistCommissionReport?.rateBase?.selectedPeriodHrs :
                therapistCommissionReport?.rateBase?.allPeriodHrs}}Hrs </strong>
            </td>
            <td style="width: 10%;"> </td>
            <td style="width: 10%;"> </td>
            <td style="width: 10%; text-align: right;">
              <strong>Total Commission : </strong>
            </td>
            <td style="width: 10%;" class="currency-cell">
              <strong>{{therapistCommissionReport?.rateBase?.totalCommission | localCurrency}} </strong>
            </td>
          </tr>


          <tr style="line-height: 0.1 !important;" *ngIf="therapistCommissionReport?.isCommissionPercentage">
            <td style="width: 10%;"> </td>
            <td style="width: 10%;">
              <strong>{{therapistCommissionReport?.commissionPercentage?.allPeriodHrs == 0
                ? therapistCommissionReport?.commissionPercentage?.selectedPeriodHrs :
                therapistCommissionReport?.commissionPercentage?.allPeriodHrs}}Hrs </strong>
            </td>
            <td style="width: 10%;"> </td>
            <td style="width: 10%;"></td>
            <td style="width: 10%; text-align: right;"><strong>Total Sales :
                {{therapistCommissionReport?.commissionPercentage?.percentage}}%</strong> </td>
            <td style="width: 10%; text-align: right;">
              <strong>Total Commission : </strong>
            </td>
            <td style="width: 10%;" class="currency-cell">
              <strong>{{therapistCommissionReport?.commissionPercentage?.totalCommission | localCurrency}} </strong>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="my-2 left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="newIncentive()"></button>
      </div>
      <p-table [value]="incentiveData" [showCurrentPageReport]="true" [scrollable]="true" [rowSelectable]="true">
        <ng-template pTemplate="header">
          <tr style="line-height: 0.1 !important;">

            <th style="width: 10%;">Incentive Date</th>
            <th style="width: 10%;" colspan="2">Description</th>
            <th style="width: 10%;" colspan="2">Remark</th>
            <th style="width: 10%;text-align: right;" *ngIf="therapistCommissionReport?.isCommissionPercentage"></th>
            <th style="width: 10%;text-align: right;">Amount</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">

          <tr style="line-height: 0.1 !important;" (dblclick)="editIncentive(item)">
            <td style="width: 10%;">{{ item.incentiveDate | date:'shortDate' }}</td>
            <td style="width: 10%;"colspan="2">{{ item.description }}</td>
            <td style="width: 10%;"colspan="2">{{ item.remark }}</td>
            <td style="width: 10%;text-align: right;" *ngIf="therapistCommissionReport?.isCommissionPercentage"></td>
            <td style="width: 10%;text-align: right;" class="currency-cell">{{ item.amount == 0 ? '': item.amount |
              localCurrency }}</td>

          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr style="line-height: 0.1 !important;">

            <td [colSpan]="therapistCommissionReport?.isCommissionPercentage ? 6 : 5"
              style="width: 47%; text-align: right;"><strong>Total Incentive : </strong></td>
            <td class="currency-cell">
              <strong>{{therapistCommissionReport?.totalIncentive | localCurrency}} </strong>
            </td>
          </tr>
          <tr style="line-height: 0.1 !important;">

            <td [colSpan]="therapistCommissionReport?.isCommissionPercentage ? 6 : 5"
              style="width: 47%; text-align: right;"><strong>Total Payout : </strong></td>
            <td class="currency-cell">
              <strong>{{therapistCommissionReport?.totalPayout | localCurrency}} </strong>
            </td>
          </tr>
        </ng-template>


        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No incentive data found.</td>
          </tr>
        </ng-template>
      </p-table>


    </div>
    <p-dialog [(visible)]="incentiveDialog" [style]="{width: '500px', 'max-height': '600px', 'overflow': 'auto' }"
      header="Menu Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="p-4">
          <div class="field">
            <label for="code">Code *</label>
            <input type="text" pInputText id="code" [(ngModel)]="incentive.incentiveDate" required
              [ngClass]="{'ng-invalid ng-dirty': submitted && !incentive.incentiveDate}" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !incentive.incentiveDate">Code is required.</small>
          </div>
          <div class="field">
            <label for="description">Description *</label>
            <input type="text" pInputText id="description" [(ngModel)]="incentive.description" required
              [ngClass]="{'ng-invalid ng-dirty': submitted && !incentive.description}" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !incentive.description">Description is
              required.</small>
          </div>
          <div class="field">
            <label for="remark">remark *</label>
            <input type="text" pInputText id="remark" [(ngModel)]="incentive.remark" required
              [ngClass]="{'ng-invalid ng-dirty': submitted && !incentive.remark}" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !incentive.remark">remark is required.</small>
          </div>
          <div class="field">
            <label for="amount">amount *</label>
            <input type="text" pInputText id="amount" [(ngModel)]="incentive.amount" required
              [ngClass]="{'ng-invalid ng-dirty': submitted && !incentive.amount}" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !incentive.amount">amount is required.</small>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text"
          (click)="deleteMenu(incentive)"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" (click)="savIncentive()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
