<form [formGroup]="changePasswordForm" class="p-fluid">
  <div class="field" *ngIf="!this.config.data?.fromAdmin">
    <label for="currentPassword">Current Password</label>
    <p-password id="currentPassword" [feedback]="false" formControlName="currentPassword"
      placeholder="Enter current password" [toggleMask]="true" styleClass="w-full">
    </p-password>
    <small *ngIf="changePasswordForm.get('currentPassword')?.invalid &&
                    (changePasswordForm.get('currentPassword')?.dirty ||
                     changePasswordForm.get('currentPassword')?.touched)" class="p-error">
      Current password is required
    </small>
  </div>

  <div class="field">
    <label for="newPassword">New Password</label>
    <p-password id="newPassword" formControlName="newPassword" placeholder="Enter new password" [toggleMask]="true"
      styleClass="w-full">
    </p-password>
    <small *ngIf="changePasswordForm.get('newPassword')?.invalid &&
                    (changePasswordForm.get('newPassword')?.dirty ||
                     changePasswordForm.get('newPassword')?.touched)" class="p-error">
      New password must be at least 6 characters
    </small>
  </div>

  <div class="field">
    <label for="confirmNewPassword">Confirm New Password</label>
    <p-password id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm new password"
      [toggleMask]="true" styleClass="w-full">
    </p-password>
    <small *ngIf="changePasswordForm.hasError('passwordMismatch') &&
                    (changePasswordForm.get('confirmNewPassword')?.dirty ||
                     changePasswordForm.get('confirmNewPassword')?.touched)" class="p-error">
      Passwords do not match
    </small>
  </div>

  <div class="flex justify-end">
    <button type="button" pButton pRipple icon="pi pi-times" class="p-button-text" label="Cancel"
      (click)="dialogRef.close(false)"></button>
    <button type="button" pButton pRipple icon="pi pi-check" label="Save"
      [disabled]="changePasswordForm.invalid || submitted" (click)="onSubmit()"></button>
  </div>
</form>
