<div class="grid">
  <!-- Dashboard header -->
  <div class="col-12">
    <div class="card">
      <div
        class="flex flex-column sm:flex-row justify-content-between align-items-start sm:align-items-center mb-4 gap-3">
        <h4>Sales Dashboard</h4>
        <div class="flex flex-wrap gap-2">
          <!-- Date picker for specific date -->
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <p-calendar [(ngModel)]="selectedDate" (onSelect)="onDateChange()" [inline]="false"
              placeholder="Select Date" [showIcon]="true">
            </p-calendar>
          </div>

          <!-- Month picker -->
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar-times"></i></span>
            <p-calendar [(ngModel)]="selectedMonth" (onSelect)="onMonthChange()" view="month" dateFormat="mm/yy"
              [inline]="false" placeholder="Select Month" [yearNavigator]="true" [yearRange]="'2020:2030'"
              [monthNavigator]="true">
            </p-calendar>
          </div>

          <!-- Year picker -->
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar-clock"></i></span>
            <p-calendar [(ngModel)]="selectedYear" (onSelect)="onYearChange()" view="year" dateFormat="yy"
              [inline]="false" placeholder="Select Year" [yearNavigator]="true" [yearRange]="'2020:2030'">
            </p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Sales for all outlets -->
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Sales (All Outlets)</span>
          <div class="text-900 font-medium text-xl">{{ totalSalesAllOutlets | localCurrency }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-dollar text-blue-500 text-xl"></i>
        </div>
      </div>
      <span [class]="salesChangePercentageAll >= 0 ? 'text-green-500 font-medium' : 'text-red-500 font-medium'">{{
        salesChangePercentageAll }}% </span>
      <span class="text-500">since previous {{selectedDate ? "day" : selectedMonth ? "month" : selectedYear ?
        "year" : "day" }}</span>
    </div>
  </div>

  <!-- Total Sales for HTSA outlet -->
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Sales (HTSA)</span>
          <div class="text-900 font-medium text-xl">{{ totalSalesHTSA | localCurrency }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-dollar text-orange-500 text-xl"></i>
        </div>
      </div>
      <span [class]="salesChangePercentageHTSA >= 0 ? 'text-green-500 font-medium' : 'text-red-500 font-medium'">{{
        salesChangePercentageHTSA }}% </span>
      <span class="text-500">since previous {{selectedDate ? "day" : selectedMonth ? "month" : selectedYear ?
        "year" : "day" }}</span>
    </div>
  </div>

  <!-- Total Sales for HTL outlet -->
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Sales (HTL)</span>
          <div class="text-900 font-medium text-xl">{{ totalSalesHTL | localCurrency }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-dollar text-cyan-500 text-xl"></i>
        </div>
      </div>
      <span [class]="salesChangePercentageHTL >= 0 ? 'text-green-500 font-medium' : 'text-red-500 font-medium'">{{
        salesChangePercentageHTL }}% </span>
      <span class="text-500">since previous {{selectedDate ? "day" : selectedMonth ? "month" : selectedYear ?
        "year" : "day" }}</span>
    </div>
  </div>

  <!-- Total Sales for HTG outlet -->
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Total Sales (HTG)</span>
          <div class="text-900 font-medium text-xl">{{ totalSalesHTG | localCurrency }}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-dollar text-purple-500 text-xl"></i>
        </div>
      </div>
      <span [class]="salesChangePercentageHTG >= 0 ? 'text-green-500 font-medium' : 'text-red-500 font-medium'">{{
        salesChangePercentageHTG }}% </span>
      <span class="text-500">since previous {{selectedDate ? "day" : selectedMonth ? "month" : selectedYear ?
        "year" : "day" }}</span>
    </div>
  </div>

  <!-- Sales Comparison Chart -->
  <div class="col-12">
    <div class="card">
      <h5>Sales Comparison</h5>
      <div class="">
        <p-chart type="bar" [data]="chartData" [options]="chartOptions" height="500px"></p-chart>
      </div>
      <div class="text-sm text-500 mt-2">
        <p class="mb-1">Current Period: Sales for selected {{ selectedDate ? 'date' : selectedMonth ? 'month' : selectedYear ? 'year' : 'today' }}</p>
        <p>Previous Period: Sales for the corresponding previous {{ selectedDate ? 'date' : selectedMonth ? 'month' : selectedYear ? 'year' : 'today' }}</p>
      </div>
    </div>
  </div>
</div>
